
body{
     background-color:black;
 }
 hr{
    color: white;
    position: relative;
    font-family: "consolas",sans-serif;
    font-size: 20px;
 }
 .fa-house{
   position: relative;
   left: auto;
    color:white;
 }
 .fa-twitter{
   position: relative;
    left: 25px;
    top: 5px;
   color:white;
 }
 .fa-github{
   position: relative;
    left: 25px;
    top: 5px;
   color:white;
 }
 #textbox1{
   border: 10px solid;
   border-color: rgb(100, 100, 100);
   background-color: rgb(44, 44, 44); 
   width: auto;
   height: auto;
   margin: 10px;
   padding: 10px;
   text-align: left;
    color: white;
    font-family: "consolas",sans-serif;
    font-size: 20px;
    position: relative;
    left: auto;
   
 }
 #textbox2{
   border: 10px solid;
   border-color: rgb(100, 100, 100);
   background-color: rgb(44, 44, 44); 
   width: auto;
   height: auto;
   margin: 10px;
   padding: 10px;
   text-align: left;
    color: white;
    font-family: "consolas",sans-serif;
    font-size: 20px;
    position: relative;
    left: auto;
   
 }
#title1{
   font-size: 16px;
   font-family: 40px;
   color: white;
   text-align: center;
   font-family: "consolas",sans-serif;
}
#title2{
   font-size: 16px;
   font-family: "consolas",sans-serif;
   color: white;
   text-align: center;
   font-family: "consolas",sans-serif;
}

#title3{
   font-size: 16px;
   color: white;
   font-family: "consolas",sans-serif;
   text-align: center;
}

#abme1{
    color: white;
    font-family: "consolas",sans-serif;
    font-size: 16px;
}
#contact1{
   color: white;
    font-family: "consolas",sans-serif;
    font-size: 12px;
}
a:link{
   color: white;
}
a:hover{
   color: grey;
}
a:active{
   color: rgb(69, 169, 169);
}
 
 main{
   margin-left: 30px; 
   margin-right: 30px;
   margin-bottom: 15px;
   margin-top: 15px;
   
 }
 body{
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 15px;
   margin-top: 15px;
 }
 